@import '../base/maps.scss';

.header-container {
    display: map-get($flexbox, dspl);
    justify-content: map-get($flexbox, contentaround);
    align-items: map-get($flexbox, algitems);
    background-color: rgb(38, 38, 46);

    @media screen and (max-width: 991px) {
        width: 100%;
        flex-direction: column-reverse;
    }

        .search {
            width: 25%;
            position: relative;

            @media screen and (max-width: 991px) {
                width: 90%;
            }
        }

            .logo-container {
                @media screen and (max-width: 991px) {
                    display: none;
                }
            }

                .search input {
                    font-family: 'Nunito', sans-serif;
                    position: relative;
                    width: 100%;
                    border: 2px solid #aaa;
                    border-radius: 4px;
                    margin: .5em 0;
                    outline: none;
                    padding: .5em;
                    box-sizing: border-box;
                    transition: .3s;

                    &:focus {
                        border: 2px solid #0071bc;
                        transition: .3s;
                    }
                }

                    .search-icon {
                        position: absolute;
                        right: 10px;
                        top: 18px;
                        color: #000;
                    }

                        .social-buttons {
                            display: map-get($flexbox, dspl);
                            justify-content: map-get($flexbox, contentevenly);
                            width: 15%;

                            @media screen and (max-width: 991px) {
                                width: 50%;
                            }
                        }

                            .bouncy {
                                animation: bouncy 5s infinite linear;
                                position: relative;
                            }

                            @keyframes bouncy {
                                0% {top:0em}
                                40% {top:0em}
                                43% {top:-0.9em}
                                46% {top:0em}
                                48% {top:-0.4em}
                                50% {top:0em}
                                100% {top:0em;}
                            }

                                    .social-button--instagram {
                                        color: #fff;
                                        font-size: 1.3em; 

                                        &:hover {
                                            color: #C13584;
                                        }
                                    }

                                        .social-button--linkedin {
                                            color: #fff;
                                            font-size: 1.3em;

                                            &:hover {
                                                color: rgb(10 102 194);
                                            }
                                        }
                                    
                                            .social-button--twitter {
                                                color: #fff;
                                                font-size: 1.3em;
                                                
                                                &:hover {
                                                    color: #1d9bf0;
                                                }
                                            }
                                    
                                                .social-button--twitch {
                                                    color: #fff;
                                                    font-size: 1.3em;
                                                    
                                                    &:hover {
                                                        color: #a970ff;
                                                    }
                                                }
                                    
                                                    .log__in {
                                                        margin: 0 .4em 0 0;
                                                    }
                                    
                                                        .contacto {
                                                            font-family: 'Roboto', sans-serif;
                                                            display: map-get($flexbox, dspl);
                                                            padding: 1em;
                                                        }
                                    
                                                            .contacto span, label {
                                                                color: #fff;
                                                                margin: 0 .3em;
                                                            }
                                    
                                                                .personal-contact {
                                                                    display: map-get($flexbox, dspl);
                                                                    align-items: map-get($flexbox, algitems);
                                                                }
}