@import '../base/maps.scss';

.main-section {
    display: map-get($flexbox, dspl);
    justify-content: map-get($flexbox, contentcenter);

    .banner {
        margin: 2rem;

        @media screen and (max-width: 990px) {
            display: none;
        }
    }

        .banner img {
            position: sticky;
            top: 0;
        }
    
            .productos-container {
                display: map-get($flexbox, dspl);
                align-items: map-get($flexbox, algitems);
                flex-direction: map-get($flexbox, directioncolumn);

                @media screen and (max-width: 500px) {
                    display: map-get($flexbox, dspl);
                    flex-direction: map-get($flexbox, directioncolumn);
                }
            }
    
                .producto {
                    width: 70%;
                    display: map-get($flexbox, dspl);
                    justify-content: center;
                    margin: 1rem;
                    padding: .5em;
                    box-shadow: 0 6px 10px 0 rgb(0 0 0 / 33%);
                    top: -6px;
                    font-family: 'Montserrat', serif;

                    @media screen and (max-width: 500px) {
                        align-items: map-get($flexbox, algitems);
                        flex-direction: map-get($flexbox, directioncolumn);
                    }
                }
    
                    .contenido-principal {
                        display: map-get($flexbox, dspl);
                        flex-direction: map-get($flexbox, directioncolumn);
                        justify-content: map-get($flexbox, contentbetween);
                        width: 80%;
                        margin: 0 1em;
                    }
                        .titulo {
                            font-size: 1.4em;
                            font-weight: 20px;
                                
                        }
                            .price {
                                align-self: map-get($flexbox, algselfstart);
                            }
}