@import '../base/maps.scss';

.retirar-header {
    display: map-get($flexbox, dspl);
    flex-direction: map-get($flexbox, directioncolumn);
    align-items: map-get($flexbox, algitems);
    margin: 1.8rem 0;

    .image-retirar__container {
        display: block;
        max-width: 100%;
        height: auto;
    }
    
        .retirar-tittle {
            font-size: 2rem;
            font-family: 'Roboto', sans-serif;
        }

            .retirar-p {
                font-size: 1.2em;
                font-family: 'Nunito', sans-serif;
                text-decoration: underline;
                text-transform: uppercase;
            }
}

.steps {
    display: map-get($flexbox, dspl);
    flex-direction: map-get($flexbox, directioncolumn);

        .steps-tittle {
            margin: .5em 0;
            align-self: center;
            font-family: 'Montserrat', sans-serif;
            font-size: 2em;
            color: #0b5ed7;
        }

            .list-group-item {
                margin: 1.2em 0;
            }

                .fw-bold {
                    text-align: center;
                    padding-bottom: .2em;
                    color: #0b5ed7;
                }
}