@import '../base/general';

.workin-progress {
    position: relative;
    width: 100%;
    height: 100vh;
    display: map-get($flexbox, dspl);
    justify-content: map-get($flexbox, contentcenter);
    align-items: map-get($flexbox, algitems);
    flex-direction: map-get($flexbox, directioncolumn);
    padding: 6rem 20vw;
    background-color: #26262e;

        .work-txt {
            color: #fff;
            text-align: center;
        }

            .work-txt a {
                color: #fff;

                &:hover {
                    color: #0d6efd;
                }
            }

                svg {
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                }
}