$flexbox: (
    dspl: flex,
    flw: wrap,
    contentcenter: center,
    contentstart: flex-start,
    contentend: flex-end,
    contentaround: space-around,
    contentbetween: space-between,
    contentevenly: space-evenly,
    algitems: center,
    algself: center,
    algselfstart: start,
    algselfend: end,
    directionrow: row,
    directioncolumn: column,
);